html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-container > span {
  position: unset !important;
}
.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.bold-span {
  font-weight: 800;
}

.badge-roles::after {
  /* content: 'Developer'; */
  /* animation: change alternate 4s infinite; */
}
@keyframes change {
  0% {
    content: 'Frontend';
  }
  50% {
    content: 'Frontend';
  }
  100% {
    content: 'Entrepenuer';
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0deg);
    /* content: 'Entrepenuer'; */
  }
}
